<h3>Player 2</h3>
  <img id="deck2" src="http://www.pokergamingproducts.com/images/D/bicycle-red-rider-back.jpg" width="200">
<div class="player-hand">
	<div class="flip2">
		<div class="triple-down">
			<div class="war">
			</div>
		</div>
	</div>
</div>